services:
  ph-web:
    image: rrvenn/phorge:latest
    restart: always
    ports:
      - "8022:8022"
      - "80:80"
    depends_on:
      - ph-database
    env_file: .env
    volumes: 
      - ph-repo:/var/repo
  ph-database:
    image: mariadb:10.5.1
    restart: always
    volumes:
      - database-volume:/var/lib/mysql
    env_file: .env
    configs:
      - source: my_conf
        target: /etc/mysql/conf.d/my_conf.cnf
        mode: 0644
      - source: init_db
        target: /docker-entrypoint-initdb.d/phorge_init_db.sh
        mode: 0644
    healthcheck:
      test: ["CMD", "healthcheck.sh", "--connect", "--innodb_initialized"]
      start_period: 10s
      interval: 10s
      timeout: 5s
      retries: 3
  ph-storage:
    image: minio/minio
    restart: always
    command: server /data
    ports: 
      - 9000:9000
    volumes: 
      - storage-server:/data
    env_file: .env

configs:
  my_conf:
    content: |
      [mysqld]
      disable-skip-name-resolve=1
      max_allowed_packet=32M
      sql_mode=STRICT_ALL_TABLES
      local_infile=0
      innodb_buffer_pool_size=1600M

  init_db:
    content: |
      mysql_note "Creating web database and user"
      docker_process_sql <<"EOF"
          CREATE DATABASE IF NOT EXISTS ${PHORGE_MYSQL_DATABASE} CHARACTER SET utf8mb4 COLLATE utf8mb4_general_ci;
          CREATE USER IF NOT EXISTS '${PHORGE_MYSQL_USER}'@'%' IDENTIFIED BY '${PHORGE_MYSQL_PASS}';
          GRANT ALL PRIVILEGES ON `phabricator\_%`.* TO '${PHORGE_MYSQL_USER}'@'%';
          FLUSH PRIVILEGES;
      EOF

volumes:
  database-volume:
  storage-server:
  ph-repo:
