services:
  ph-web:
    image: local-phorge
    restart: always
    ports:
      - "8022:8022"
      - "80:80"
    depends_on:
      - ph-database
    env_file: .env
    volumes: 
      - ph-repo:/var/repo
  ph-database:
    image: mariadb:10.5.1
    restart: always
    volumes:
      - database-volume:/var/lib/mysql
    env_file: .env
  ph-storage:
    image: minio/minio
    restart: always
    command: server /data
    ports: 
      - 9000:9000
    volumes: 
      - storage-server:/data
    env_file: .env
volumes:
  database-volume:
  storage-server:
  ph-repo:
